# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Customized
/src/LifeHepler/.vs/LifeHepler/v16
/src/LifeHepler/LifeHepler/obj
/src/LifeHepler/LifeHepler/bin/Debug/netcoreapp3.1
/src/LifeHepler/.vs/LifeHepler/config
/src/LifeHepler/.vs/LifeHepler/DesignTimeBuild
/src/LifeHepler/HeplerLibs/bin/Debug/netcoreapp3.1
/src/LifeHepler/HeplerLibs/obj
/src/LifeHepler/Model/bin/Debug/netcoreapp3.1
/src/LifeHepler/Model/obj
/src/LifeHepler/Service/obj
/src/LifeHepler/Service/bin/Debug/netcoreapp3.1
/src/LifeHepler/LifeHepler/appsettings.json
/src/LifeHepler/LifeHepler/Properties/PublishProfiles
/src/LifeHepler/HeplerLibs/bin/Release/netcoreapp3.1
/src/LifeHepler/LifeHepler/bin/Release/netcoreapp3.1
/src/LifeHepler/Model/bin/Release/netcoreapp3.1
/src/LifeHepler/Service/bin/Release/netcoreapp3.1
/src/LifeHepler/LifeHepler/token.json
/src/LifeHepler/LifeHepler/OneOFourXml
/src/LifeHepler/.vs/LifeHepler/v15
/src/LifeHepler/.vs/config
/src/LifeHepler/LifeHepler/wwwroot
