 body {
     margin: 0px;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 .h1,
 .h2,
 .h3,
 .h4,
 .h5,
 .h6 {
     font-family: "Segoe UI", "微軟正黑體", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 
 article {
     padding: 2% 5% 2% 5%;
     margin-bottom: 25px;
     background: white;
     border-radius: 10px;
     text-align: left;
 }
 
 .article-header {
     border-bottom: 1px solid #ddd;
     margin-bottom: 20px;
 }
 
 .artice-tag {
     background: #eeeeee;
     margin: 0px 5px 7px 0px;
     padding: 5px;
     font-size: 15px;
     display: inline-block;
 }
 
 .article-header h1 {
     font-size: 25px;
     margin-bottom: 20px;
     margin-top: 10px;
 }
 
 article p {
     line-height: 10px;
 }
 
 #app {
     font-family: Avenir, Helvetica, Arial, sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     text-align: center;
     color: #2c3e50;
     background: #eeeeee;
 }
 
 .container {
     padding: 30px 15px 30px 15px;
     margin-right: auto;
     margin-left: auto;
     width: 1500px;
 }
 
 .container .time-block {
     color: #428bca
 }
 
 .container .block-header {
     padding: 10px 20px 10px 20px;
 }
 
 .container .body {
     padding: 0px 30px 0px 30px;
 }